//colors
$primary: #84DD72;
$secondary: #91CDD8;
$black:   #000;
$gray:    #8A8A90;
$red:     #FF335F;

//Bootstrap
$body-color: $gray;
$font-family-base:                    'Neue Haas Unica Pro';
$font-weight-normal: normal;

$navbar-light-color:                  $primary;
$navbar-light-toggler-border-color:   transparent;

$navbar-toggler-padding-y:            0;
$navbar-toggler-padding-x:            0;



$grid-breakpoints: (
  xs: 0,
  sm: 414px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);


$container-max-widths: (
  // sm: 700px,
  // md: 900px,
  // lg: 1000px,
  xl: 1140px
);

$header-height: (
  xs: 58px,
  md:100px
);

$input-btn-padding-y:         .75rem;
$input-btn-padding-x:         1.125rem !default;

$input-btn-padding-y-sm: 0.5rem;
$input-btn-padding-x-sm: 1rem;


$btn-border-radius:           100px;
$btn-border-radius-sm:        20px;
$btn-transition:              all .15s ease-in-out;

$card-cap-bg:                 #ffffff;
$card-border-radius: 8px;

$input-color:                           $black;
$input-border-color:                    #E0E3E5;
$input-border-width:                    1px !default;
$input-box-shadow:                      none;
$input-border-radius:                   100px;
$input-placeholder-color:               #8A8A90;
$input-focus-box-shadow:                none;

$form-group-margin-bottom:              20px;



$table-cell-padding:          .75rem !default;
$table-cell-padding-sm:       .3rem !default;

$table-bg:                    #FFFFFF;
$table-accent-bg:             #FAFAFB;

$table-border-width:          0;

$modal-md:                          600px;
$modal-header-border-width: none;
$modal-header-padding: 35px;


//defined by me
$form-font-size: 14px;


// Carousel

$carousel-control-color:            $primary;
$carousel-indicator-active-bg:      $primary;
