.compensate-navbar {
  margin-top:-66px;
}

select {
  appearance: none;
  background: url(/static/images/icon-caret-down.svg) right / 13px no-repeat #fff;
  padding-right: 20px;
  background-origin: content-box;
}
