.what {
  // margin-bottom: 95px;
  padding: 50px;
  @include media-breakpoint-up ("lg") {
    padding: 100px 0;
  }
  &.--gray {
    background-color: #f5f9fa;
  }
  &.--white {
    background-color: $white;
  }
}
