.cardline {
  display: flex;
  flex-direction: column;
  max-width:940px;
  margin-left: auto;
  margin-right: auto;
}

.cardline__goal {
  margin: spacer(2);
}


.cardline__goal-content {
  background-color: $white;
  background: #FFFFFF;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.08);
  border-radius: 4px;
  padding: 14px 20px;
}
.cardline__progress {
  display: none;
}

.cardline__date {
  @extend .fs-3;
  color: $black;
  margin-bottom: 20px;
}
.cardline__title {
  @extend .fs-1;
}

.cardline__list {
  list-style-type: none;
  padding-left: 20px;
}
.cardline__list-item {
  position: relative;
  &:after {
    position: absolute;
    left: -23px;
    top: 2px;
    content: '';
    display: block;
    @include size(20px);
    mask-image: url(/static/images/icon-check.svg);
    mask-size:contain;
    background-color: gray('300');
  }
  &.--first-prize:after {
    mask-image: url(/static/images/icon-first-prize.svg);
  }
  &.--trophy:after {
    mask-image: url(/static/images/icon-trophy.svg);
  }
  &.--tree:after {
    mask-image: url(/static/images/icon-tree.svg);
  }
  &.--like:after {
    mask-image: url(/static/images/icon-like.svg);
  }
  &.--done {
    &:after {
      background-color: $primary;
    }
  }
}

@include media-breakpoint-up ("md") {
  .cardline__goal {
    width: 50%;
    position: relative;
    margin:-20px 0 0 0;

    &:nth-child(odd) {
      align-self:flex-start;

      .cardline__progress {
        right: -2px;
      }
      .cardline__goal-content {
        margin-right: 25px;
        &:after {
          right: 15px;
          top: 16px;
          border-width: 13px 0 13px 10px;
          border-color: transparent transparent transparent $white;
        }
      }
    }
    &:nth-child(even) {
      align-self: flex-end;
      margin-left: 25px;
      .cardline__progress {
        left: -2px;
      }
      .cardline__goal-content {
        margin-left: 25px;
        &:after {
          left: 15px;
          top: 16px;
          border-width:13px 10px 13px 0;
          border-color: transparent $white transparent transparent;
        }
      }
    }

    &:first-child {
      .cardline__progress {
        background-color: transparent;
        background-image: linear-gradient(to bottom, rgba($primary,0) 0%, rgba($primary,1) 50%);
      }
    }
    &:last-child {
      .cardline__progress {
        background-color: transparent;
        background-image: linear-gradient(to bottom, rgba($primary,1) 0, rgba($primary,0) 100%);
      }
    }
  }
  .cardline__progress {
    display: block;
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0;
    background-color: $primary;
    &:after {
      position: absolute;
      content: '';
      @include size(6px);
      display: block;
      top: 20px;
      margin-left: -7px;
      background-color: $primary;
      border: 5px solid $white;
      box-sizing: content-box;
      border-radius: 50%;
    }
  }

  .cardline__goal-content {
    &:after {
      width: 0;
      height: 0;
      border-style: solid;
      content: '';
      position: absolute;
    }

  }
}

@include media-breakpoint-up(xl){
  .cardline__goal {
    margin-top: -30px;
  }
}
