.table {
  border-radius: 4px;
  overflow: hidden;
  thead th {
    font-size: 12px;
    font-weight: normal;
  }

  tbody  {
    td,
    th {
      font-size: 14px;
      color: $black;
      font-weight: normal;
    }
  }
}
